# Pipeline internals
.bpipe/

# Sequencing data
*.fastq
*.fastq.gz
*.fq
*.fasta
*.fa
*.fna

# Large intermediates
*.bam
*.sam
*.cram

# Logs
*.log

#Rstudio junk
.Rproj.user
.Rhistory
.RData
.Ruserdata

#Images
.png
.pdf

Reference_Files/
*.fastq
*.fastq.gz
*.bam
*.fa
*.fa.gz
*.gtf

